button{
    margin: .618rem;
    padding: 2px 15px 2px 15px;
}
input[type="checkbox"]:before{
    
}
input[type="checkbox"]{
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: #500;
}
input[type="checkbox"]:checked{
    content: 'ligado';
    background-color: #0ea;
}
input[type="checkbox"]:after{
   /* content: 'ligado';*/
}
#zero{
}
#dot{
    /*padding: 0 1.5px 0 1.5px;*/
a}
