@media (min-width: 320px)
{
    button
    {
        border: none;
    }
    #dot
    {
        border-radius: 15px 50px 30px;
    }
    .numbers > button
    {
        border-radius: 15px 50px
    }
    .operators > button
    {
        border-radius: 15px 50px;
        width: 100px;
    }
    
    nav > button
    {
        border-radius: 15px 50px 30px;
    }
    button[value="soma"]
    {
        border-radius: 5px 15px 50px 30px;
        width: 100px;
    }
    #ce
    {
        border-radius: 50px 5px 15px 30px;
    }
    #memo
    {
        border-radius: 15px 50px 30px 5px;
        width: 100px;
    }
}
button{
    margin: .618rem;
    padding: 2px 15px 2px 15px;
}
input[type="checkbox"]:before{
    
}
input[type="checkbox"]{
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: #500;
}
input[type="checkbox"]:checked{
    content: 'ligado';
    background-color: #0ea;
}
input[type="checkbox"]:after{
   /* content: 'ligado';*/
}
#zero{
}
#dot{
    /*padding: 0 1.5px 0 1.5px;*/
a}
