@font-face{
    font-family: digital;
    src: url(../font/digital-7.ttf);
}
@font-face{
    font-family: digitalm;
    src: url(../font/digital-7m.ttf);
}
strong{
    font: 50px digital;
    
}
.rightTxt{
    font-family: digitalm;
    text-align: right;
}
.centerTxt{
    text-align: center;
}
p{
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: .618rem;
    display: none;
}
.noread{
    display: none;
}
