*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#visor, .allBtns{
  margin: 6.18%;
  padding:6.18%;
  border: 0.618rem solid #000;
  border-radius: 6.18%;
}

.btns {
  margin: 6.18% 0 6.18%;
}

.btnNum, .operacao, .equal{
  padding: 6.18%;
  margin: 6.18% .618% .618%;
}

label{
  border: 0.0618em solid #000;
  padding: 0.618%;
  border-radius: 6.18%;
  cursor: pointer;
}